@CHARSET "UTF-8";

/* Initial style for all comment providers */
.comment-provider {
	display: none;
}

/* Style applied to currently selected provider */
.comment-provider.selected-comment-provider {
	display: block; /* Reset the initial display */
	clear: both;
}


.comment-provider-waiting-response {
	background: url(../img/loading.gif) top left no-repeat;
	height: 35px;
	width: 35px;
	margin: 10px auto;
}

.comment-provider textarea {
	clear: both;
    width: 97%;
	background: none repeat scroll 0 0 #FFFFFF;
}

ul#all-comment-providers {
	margin: 0 !important;
	padding: 0 !important;
	clear: both !important;
	list-style-type: none !important;
}
ul#all-comment-providers li {
	margin: 0 !important;
	padding: 0 !important;
}
ul#all-comment-providers li a {
	display: block;
	float: left;
	width: 20%;
	height: 32px;
}
ul#all-comment-providers li a:hover {
	text-decoration: none;
}
ul#all-comment-providers li.selected-comment-provider a {
	background-color: #edf8fc;
}
ul#all-comment-providers li a span {
	margin-left: 32px;
	line-height: 32px;
}


ul#all-comment-providers li a#comment-provider-wordpress-link {
	position: relative;
}
ul#all-comment-providers li a#comment-provider-wordpress-link:before {
	background: url(../img/media-sprite.png) -504px 0 no-repeat;
	position: absolute;
	display: block;
	content: " ";
	height: 16px;
	width: 16px;
	top: 8px;
	left: 8px;
}
ul#all-comment-providers li a#comment-provider-facebook-link {
	position: relative;
}
ul#all-comment-providers li a#comment-provider-facebook-link:before {
	background: url(../img/media-sprite.png) 0 0 no-repeat;
	position: absolute;
	display: block;
	content: " ";
	height: 16px;
	width: 16px;
	top: 8px;
	left: 8px;
}
ul#all-comment-providers li a#comment-provider-twitter-link {
	position: relative;
}
ul#all-comment-providers li a#comment-provider-twitter-link:before {
	background: url(../img/media-sprite.png) -337px 0 no-repeat;
	position: absolute;
	display: block;
	content: " ";
	height: 16px;
	width: 16px;
	top: 8px;
	left: 8px;
}
ul#all-comment-providers li a#comment-provider-google-link {
	position: relative;
}
ul#all-comment-providers li a#comment-provider-google-link:before {
	background: url(../img/media-sprite.png) -166px 0 no-repeat;
	position: absolute;
	display: block;
	content: " ";
	height: 16px;
	width: 16px;
	top: 8px;
	left: 8px;
}

/*** Login buttons ***/
.comment-provider-login-button {
	margin: 10px auto;
	width: 165px;
}
.comment-provider-login-button a {
	display: block;
	width: 160px;
	height: 25px;
	background: none;
}
.comment-provider-login-button a span {
	display: none;
	position: absolute;
	left: -1200000000px;
}
#login-with-twitter {
	background: url(../img/media-sprite.png) -353px 0 no-repeat;
	width: 151px;
	height: 23px;
}
#login-with-facebook {
	background: url(../img/media-sprite.png) -16px 0 no-repeat;
	width: 150px;
	height: 23px;
}
#login-with-google {
	background: url(../img/media-sprite.png) -182px 0 no-repeat;
	width: 155px;
	height: 25px;
}
#login-with-google.plus {
	background: none;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#post-on-facebook, #post-on-twitter, form #subscribe {float:left;margin:0.3em 0.5em 0 0;padding:0.5em 0 0;} /* apply to #subscribe within form, to fix http://www.coachcalorie.com issue */
#comment-provider-google p{padding-top:0.5em;}
