[submodule "shared-tasks"]
	path = shared-tasks
	url = git@bitbucket.org:incsub/shared-tasks.git
[submodule "lib/external/dash"]
	path = lib/external/dash
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
